# === Java / Spring Boot ===
target/
*.class
*.log
*.jar
*.war
*.ear

# === Maven ===
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# === Node / Angular ===
node_modules/
dist/
.env

# === IDE / Editor ===
.vscode/
.idea/
.DS_Store

# === OS / System ===
Thumbs.db
